<!doctype html>
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script>

        angular.module('myApp', [])
                .controller('myCtrl', function ($scope, $http, $window) {

                    $scope.auth = {
                        token : '3066b65a-4a17-47a6-9f42-7f3212c77da8',
                        tokenresourceid : 'EQMSDKQDOW2X8582',
                        startdate : '2014-05-01',
                        enddate : '2014-05-01',
                        mode : 'month',
                        avatarIds : '-7829701006451461057,-2984738528086049257,-5090762470243487449,-3955313771749560179'
                    };

                    $scope.$watch('auth.avatarIds', function(n, o) {
                        $scope.avatarIds = $scope.auth.avatarIds.split(',').map(function(x) { return x.trim() } );
                    });

                    $scope.sendPost = function() {

                        $http({
                            url: 'https://integration-baam.zatar.com/avatarids',
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            data: {
                                "userresourceid" : "XXFCXGDJSUQISPDZ",
                                "token" : $scope.auth.token,
                                "tokenresourceid" : $scope.auth.tokenresourceid,
                                "startdate" : $scope.auth.startdate,
                                "enddate" : $scope.auth.enddate,
                                "mode" : $scope.auth.mode,
                                "avatarIdCollection": $scope.auth.avatarIds.length > 0 ? $scope.auth.avatarIds.split(',').map(function(x) { return x.trim() } ) : []
                            }
                        }).success(function(data, status, headers, config) {
                                    console.log(data);
//                                    $window.location.href = data.chartUrl;
                                    $window.open('//facebook.com');

                                }).error(function(data, status, headers, config) {
                                    document.write("Uh-oh, that's not good!!!<br/>");
                                    document.write("HTTP ERROR CODE: " + data.statuscode + " HTTP ERROR MESSAGE: " + data.message);
                        });
                    }
                })
    </script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
    <form ng-submit="sendPost()">
        <h1>Third Party Application Transitioning to QA BAAM-UI Application</h1>
        This will submit json formatted data to https://integration-baam.zatar.com/avatarids using POST method.<br/>
        <h3 style="color:blue">MAKE SURE TO ENTER NEW VALUES BELOW</h3>
        Token:<input name="auth.token" ng-model="auth.token" size="50"><br/>
        Token ResourceID:<input name="auth.tokenresourceid" ng-model="auth.tokenresourceid" size="50"><br/>
        startdate:<input name="auth.startdate" ng-model="auth.startdate" size="50"><br/>
        enddate:<input name="auth.enddate" ng-model="auth.enddate" size="50"><br/>
        mode(month|day):<input name="auth.mode" ng-model="auth.mode" size="50"><br/>
        avatarIds:<input name="auth.avatarIds" ng-model="auth.avatarIds" size="50">
        <br/><br/>
        data: {<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"userresourceid" : "XXFCXGDJSUQISPDZ",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"token" : "{{auth.token}}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"tokenresourceid" : "{{auth.tokenresourceid}}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"startdate" : "{{auth.startdate}}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"enddate" : "{{auth.enddate}}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"mode" : "{{auth.mode}}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"avatarIdCollection": {{avatarIds}}<br/>
        }<br/><br/>

        <button type="submit">Submit Avatar IDs</button>
    </form>

</div>
</body>
</html>
