<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <title>AngularJS and HTML5 Audio</title>
  <base href="/">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.15/angular.js" data-semver="1.3.15"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="audio.js"></script>
</head>
<html ng-app="angular-html5-audio">

<body ng-controller="MainCtrl">

  <div class="songContainer">
    <div ng-repeat="song in songList">
      <span class="left" >{{song.title}}</span>
      <span class="right">
        <button ng-click="playAudio(song.filename)"><i class="fa fa-play-circle fa-lg"></i></button>
        <button ng-click="pauseAudio()"><i class="fa fa-pause fa-lg"></i></button>
        <button ng-click="stopAudio()"><i class="fa fa-stop fa-lg"></i></button>
      </span>
    </div>
  </div>

  <div id="mp3_player">
    <audio autoplay loop ng-src="{{songTitle}}"></audio>
    <canvas id="analyser_render"></canvas>
  </div>
  <div class="codeContainer">
    <pre class="prettyprint" style="color:lightgray">
    </pre>
  </div>
</body>

</html>
