.multiSelect .checkboxLayer {
    max-height: 228px;
    overflow-y: scroll;
    /*margin-left : 268px;*/
}

div.HourDurationCtrl, div.MonthDurationCtrl  {
    position: relative;
    top: 10px;
}

div.HourDurationCtrlChild, div.MonthDurationCtrlChild {
    position: relative;
    top: 6px;
}

.odometerChartFooter {

}

div.odometerChartFooter {
    background: #D0E0E2; /* #ffffff; */
    border-style: solid;
    border-color: lightgray;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    display: inline;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}


/*span.odometerChartFooterAttr {*/
    /*position: relative;*/
    /*top: -17px;*/
/*}*/

div.odometerFooterFieldKey {
    color: #00807D;
    display: table-cell;
    width: 50%;
    text-align: left;
    vertical-align: middle;
}
div.odometerFooterFieldValue {
    color: #000000;
    display: table-cell;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}

div.multiSelect.checkboxLayer.show {
    max-height: 250px;
    overflow-y: scroll;
    margin-left: 268px;

}

.multiSelect .button {
    border: 1px solid #c6c6c6;
    padding: 5px 8px 6px;
    border-radius: 0px !important;
    background-image: none !important;
    height: 34px;
    min-height: 34px !important;
}



.multiSelect .button {
    display: inline;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid #c6c6c6;
     padding: 1px 8px 1px 8px;
    font-size: 14px;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    white-space: normal;
    background-color: #fff;
    background-image: linear-gradient(#fff, #f7f7f7);
}

.padding0px {
    padding: 0px;
}

.padding10px {
    /*padding: 10px;*/
    padding: 10px 10px 0px 0px;
}

span.datePickerPosition {
    /*position: relative;*/
    top: -1px;
    left: 6px;
}

span.weekDropDownPosition {
    position: relative;
    left: 2px;
}

.onePixBorder {
    border-width: 1px;
    border-style: solid;
    border-color: #c6c6c6;
    padding: 7px 14px 8px 14px;
    left: 5px;
    position: relative;
    font-size: 14px;
}

span.onePixBorder > i.fa.fa-share {
    font-size: 11px;
}

span.odometerTitleHeader {
    font-size: 21px;
    padding: 6px;
}

i.ionicons.ion-speedometer.classion-speedometer {
    font-size: 30px;
}

div#content {
    top: 5px;
}

button.btn.btn-default.squarecorners.btnMonth, button.btn.btn-default.squarecorners.btnDay  {
    position: relative;
    top: -1px;
    left: 5px;
}

input.datepickerClass.datePickerPosition {
    /*top: 0px;*/
    left: 6px;
}

input[type="radio"].radioButtonClass {
    margin: 0 3px 0 15px;
}

span.radioInterval {
    left: 10px;
    position: relative;
}

.fivePxOnLeft {
    margin-left: 5px;
    position: relative;
}

span.padding5px {
    padding-left: 10px;
}


ul#twentyFourHourDurationId {
    height: 190px;
    overflow-y: scroll;
    width: 202px;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    /*position: relative;*/
    /*float: left;*/
    border-radius: 0;
    background-color: #ffffff;
    color: black;
    border-color: lightgray;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    /* color: #fff; */
    background-color: #F1F1F1;
    border-color: lightgray;
    color: black;
}

span#exportButton {
    cursor: pointer;
}
.btn-group {
    top: -1px;
}
.dropdown-menu > li > a {
    white-space: normal;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #9abbbb;
    cursor: pointer;
}

div.redAlert > .ng-modal-dialog > span.ng-modal-title {
    color: red;
}

p.redAlert {
    color: red;
}

.dropdown-menu > li > a.highLightMenu {
    background: rgb(72, 102, 102);
    color: #ffffff;
}
.disableText, span#exportButton.disableText, button.btn.disableText {
    color : #DFDFDF;
    cursor : default;
}
.inchesPrinted > ul.dropdown-menu.squarecorners {
    width: 250px;
}

.tempHighLightMenu {
    background: rgb(88, 87, 75);
}

.sidebarOdometer {
    -moz-transition: right 1s;
    -webkit-transition: right 1s;
    -o-transition: right 1s;
    transition: right 1s;
    width: 50px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    bottom: 0px;
    /* left: -100px; */
    right: -50px;
    height : 300px;
}

.slide-out-odometer {
    -moz-transition: right 1s;
    -webkit-transition: rightm 1s;
    -o-transition: right 1s;
    transition: right 1s;
    right: 0px;

}

#odometerToolbox {
    position: absolute;
    background-color: rgba(17, 19, 20,0.9);
    float: right;
    top: 41px;
    /* right: 65px; */
    padding-bottom: 13px;
    display: none;
    z-index: 2000;
    right: 0px;
    /* max-width: 600px; */
    /* min-width: 140px; */
    /* width: auto; */
    width: 50px;
}

.col-md-6.col-sm-6.paddingbottom5px {
    padding-bottom: 5px;
}

button.button.multiSelectButton.ng-binding.dropdownDisable {
    color: #DFDFDF
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}

.chartProperties {
    /*height : 271px;*/
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-bottom-width : 0px;
}

.chartInfoBox {
    background-color: white;
    border-top-width: 0px;
    border-style: solid;
    border-left-width: 1px;
    border-color: #DDDDDD;
    border-right-color: #dddddd;
    border-right-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.flashText, .flashCalendar {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

div.popover.top.fade {
    color: #6b6b6b;
    border-radius: 0px;
    padding: 2px;
}